# Basics of python

# Python lists

### A list contains items separated by commas and enclosed within square brackets. All the items belonging to a list can be of different data type.

In [5]:
list = [ 'kerala', 257 , 2.23,0, 70.2 ]
list

['kerala', 257, 2.23, 0, 70.2]

In [6]:
smalllist = [123, 'university']

In [7]:
print list

['kerala', 257, 2.23, 0, 70.2]

In [8]:
print list[0]

kerala

In [9]:
print list[2:]

[2.23, 0, 70.2]

In [10]:
print smalllist * 2

[123, 'university', 123, 'university']

In [11]:
print list + smalllist

['kerala', 257, 2.23, 0, 70.2, 123, 'university']

### A tuple is another sequence data type that is similar to the list. A tuple consists of a number of values separated by commas. Unlike lists, tuples are enclosed within parentheses

### The main differences between lists and tuples are: Lists are enclosed in square brackets and their elements and size can be changed but elements and size in tuple cannot be changed. Tuples can be considered as read-only lists.

In [15]:
list = ["kerala", 257, 2.23,0, 70.2]

In [16]:
tuple = ('kerala', 257, 2.23,0, 70.2)

In [17]:
list[2]=0		# changes the third value in list

In [18]:
list

['kerala', 257, 0, 0, 70.2]

In [19]:
tuple[2]=0

TypeError: 'tuple' object does not support item assignment

In [20]:
dict = {'james bond': '007', 'binary':'zero and one', 'year':2011}

In [21]:
dict['james bond']

'007'

In [22]:
dict['binary']

'zero and one'

In [25]:
dict['year']

2011

Operators in python
Python also uses similar operators to describe a mathematical operation. Addition, subtraction multiplication and division are described by +, -, *, / respectively. 

Operator      Description
==              Checks if the value of two operands is equal or not, if yes, then condition becomes true
!=              Checks if the value of two operands are equal or not
<>              Checks if the value of two operands are equal or not
>               Checks if the value of left operand is greater than the value of right operand
<               Checks if the value of left operand is less than the value of right operand
>=              Checks if the value of left operand is greater than or equal to the value of right operand
<=              Checks if the value of left operand is less than or equal to the value of right operand


Membership Operators:
One of key the features of Python programming language is that,  it has membership operators, which test for membership in a sequence, such as strings, lists, or tuples. There are two membership operators explained below:

Operator    Description
in             Evaluates to true, if it finds a variable in the specified sequence and false, otherwise.
not in    Evaluates to true, if it does not finds a variable in the specified sequence and false otherwise.

### Try the following code

In [26]:
string='Hello hai and bye'

In [27]:
"hai" in string

True

In [28]:
string.count("hai")

1

### Identity Operators:
### Identity operators compare the memory locations of two objects. There are two Identity operators explained below:

In [29]:
a=5

In [30]:
b=6

In [31]:
c=5

In [32]:
a is b

False

In [33]:
a is c

True

In [34]:
int= input('Enter an integer : ')

Enter an integer : 6

In [35]:
int

6

# Strings

#### String can be expressed in Python by several ways. They can be enclosed in single quotes or double quotes:
#### One thing to note is that in a string, a single backslash at the end of the line indicates that the string is continued in the next line, but no newline is added. 

For example

In [36]:
"This is the first sentence.\
This is the second sentence."

'This is the first sentence.This is the second sentence.'

Note the operator ".\" used to enter the string in the next line without changing its structure

Try some string operations using Python

In [37]:
str = 'programming'

In [38]:
print str

programming

In [39]:
print str[0]

p

In [40]:
print str[2:5]

ogr

In [41]:
print str[2:]

ogramming

### Concatenation and repetition in python

In [42]:
str1 = 'Enjoy'

In [43]:
str2 = 'Python'

In [44]:
print  str1+str2

EnjoyPython

In [45]:
print  str1*10

EnjoyEnjoyEnjoyEnjoyEnjoyEnjoyEnjoyEnjoyEnjoyEnjoy

### We can find a particular string by ".find" method

In [46]:
S = 'yyyyyyyyyyyyyHIDDENaaaaaaaaaaaa'

In [47]:
where = S.find('HIDDEN')

In [48]:
where

13

In [49]:
'allstring'.isalpha()

True

In [50]:
'allstring1'.isalpha()

False

In [51]:
'123'.isdigit()

True

In [52]:
'This Is A Title'.istitle()

True

In [54]:
S = 'Holiday'

In [55]:
S = S.replace('Holi','Working')

In [56]:
S

'Workingday'

In [57]:
import re

In [62]:
str1 = 'My life; My decision'

In [63]:
str2 = re.split('; |, | ',str1)

In [64]:
str2

['My', 'life', 'My', 'decision']

To get more information about methods for an object , Call the built-in dir function.
It returns a list of all the attributes available for a given object.

To get the information about what they do, we can pass them to the help function:

dir(S)
help(S.replace)

In [66]:
help(S.replace)

Help on built-in function replace:

replace(...)
    S.replace(old, new[, count]) -> string

    Return a copy of string S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.